@import "./tutorial.scss";

* {
  box-sizing: border-box;
}

body * {
  all: unset;
}

body {
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

nav {
  display: block;
  background-color: #88b;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: flex;

  // grid-auto-columns: auto;

  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &.active-url {
      pointer-events: none;
      font-weight: bold;
      text-decoration: underline;
      color: #fff;
    }
  }
}

div.info {
  margin-bottom: 2rem;
}

.error {
  padding: 1rem;
  border: 1px solid #900;
  background-color: #eaa;
  color: #900;
}

p {
  display: block;
}

span.count {
  background-color: turquoise;
  padding: 0 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

button {
  color: #b8b;
  background-color: #fdf;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: 1px solid #909;
  padding: 0 0.2rem;
  cursor: pointer;

  &:hover {
    color: #909;
  }

  &:active {
    color: #606;
  }
}

@import "./ua.scss";
