@use "@material/theme" with (
  $primary: #d81b60,
  $on-primary: white,
  $surface: #fce4ec,
  $on-surface: black,
);

@use "@material/typography" with (
  $font-family: unquote("Raleway, sans-serif"),
);

@use "@material/shape" with (
  $small-component-radius: 5px,
);

@use "@material/textfield/mdc-text-field";
@use "@material/button/mdc-button";

// @use "material-components-web";

@import url("https://fonts.googleapis.com/css?family=Raleway");

.material {
  padding: 5vh;
}

.food-field {
  width: 300px;
  margin: 20px 0;
}

.eat-button {
  display: block;
}
